# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS / system files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/

# Logs / temp files
*.log
*.tmp

# Local config / secrets
.env

# VS Code
.vscode/

# PyCharm
.idea/